{% load static %}
<header class="header">
    <a href="{% url 'home' %}">
      <img
        class="nav-logo"
        src="{% static 'img/images_navbar/logo.svg' %}"
        alt="Sabidinhos logo"
      />
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li><a class="nav-link" href="{% url 'home' %}">home</a></li>
        <li><a class="nav-link" href="{% url 'videos' %}">vídeos</a></li>
        <li><a class="nav-link" href="{% url 'forum' %}">fórum</a></li>
        <li>
          <a class="nav-link active" href="{% url 'pais_profs' %}l"
            >pais & profs</a
          >
        </li>
      </ul>
      <div class="select_pais_profs"></div>
    </nav>
  </header>